<launch>
  <group name="wg">
    <node pkg="map_server" type="map_server" args="$(find 2dnav_stage)/maps/willow-full.pgm 0.1" respawn="false" />
    <node pkg="multitouch_nav" type="multitouch_nav.py" args="$(find 2dnav_stage)/worlds/willow-pr2-multi.world" output="screen" respawn="false" />
    <node pkg="multitouch_nav" type="touchServer" respawn="false" />
    <node pkg="stage" type="stageros" args="$(find 2dnav_stage)/worlds/willow-pr2-multi.world" output="screen" respawn="false" />
    <param name="robot_0/wavefront_player_0/tf_prefix" value="robot_0" /><!--Broken see ros ticket:941 replaced by above-->
    <node pkg="wavefront_player" type="wavefront_player" respawn="false" name="wavefront_player_0" ns="robot_0" output="screen">
      <param name="tf_prefix" value="robot_0"/>
      <remap from="scan" to="base_scan" />
    </node>
    <param name="robot_1/wavefront_player_1/tf_prefix" value="robot_1" /><!--Broken see ros ticket:941 replaced by above-->
    <node pkg="wavefront_player" type="wavefront_player" respawn="false" name="wavefront_player_1" ns="robot_1" >
      <param name="tf_prefix" value="robot_1" /><!--Broken see ros ticket:941 replaced by above-->
      <remap from="scan" to="base_scan" />
    </node>
    <param name="max_publish_frequency" value="20.0"/>
    <param name="robot_0/fake_localization_0/tf_prefix" value="robot_0" /><!--Broken see ros ticket:941 replaced by above-->
    <node pkg="fake_localization" type="fake_localization" respawn="false" name="fake_localization_0" ns="robot_0" output="screen">
      <param name="tf_prefix" value="robot_0" />
    </node>
    <param name="robot_1/fake_localization_1/tf_prefix" value="robot_1" /><!--Broken see ros ticket:941 replaced by above-->
    <node pkg="fake_localization" type="fake_localization" respawn="false" name="fake_localization_1" ns="robot_1" >
      <param name="tf_prefix" value="robot_1" />
    </node>
  </group>
</launch>

